config.local.php
config/autoload/*.local.php
vendor/*
node_modules/*
cache/*
.idea
deploy.log
VERSION
public/vendor/unicaen/*
public/unicaen/*
public/.gitignore
composer.phar
data/fichiers
data/signature
log
.phpunit.result.cache