config.local.php
config/autoload/*.local.php
vendor/*
node_modules/*
cache/*
.idea
deploy.log
VERSION
public/vendor/unicaen/*
public/unicaen/*
public/.gitignore

public/vendor/bootstrap
public/vendor/bootstrap-select
public/vendor/jquery
public/vendor/open-sans
public/vendor/font-awesome
public/vendor/tinymce

composer.phar
data/fichiers
data/signature
log
.phpunit.result.cache