.env
config.local.php
config/autoload/*.local.php
vendor/*
public/vendor/*
node_modules/*
cache/*
data/fichiers
data/signature
data/log
deploy.log
VERSION
composer.phar
.phpunit.result.cache
.idea
/.php-cs-fixer.cache
supervisord.*