.appname {
    text-shadow: 0px 1px 2px #fff, 5px 5px 5px #aaa;
    text-outline: #fff;
    font-weight: 700;
    font-size: 60pt;
    float:left;
    padding-right: .5em;
    padding-bottom: 3em;
}

.appname > .c1 {
    color: #3399ff;
    /*color:#5cb85c;*/
}

.appname > .c2 {
    color: #f4d35e;
    /*color:#f0ad4e;*/

}

.appname > .c3 {
    color:orangered;
    /*olor: #d9534f;*/
}

.abonnements {
    clear: both;
    display: block;
    margin-top: 20px;
    font-size: 30px;
}



div.div-connexion {
    width: 50%;
    margin: auto;
    min-width: 30em;
}

@media screen and (max-width: 500px) {
    .page-accueil .titre {
        font-size: 36pt;
    }
}


@media screen and (max-width: 768px) {

    .page-accueil.jumbotron {
        padding: .5em !important;

    }

    .page-accueil .appname {
        padding-bottom: 0px;
    }

}

@media screen and (max-width: 991px) {

    .page-accueil .appname {
        float: none;
    }
}