/***** verrue pour le menu de niveau 3 : à déplacer vers unicaen.css...? */
.nav-pills>li.active li.active>a/*, .nav-pills>li.active>a:hover, .nav-pills>li.active>a:focus*/ {
    color: #fff;
    background-color: #428bca;
    opacity: 0.6;
}
.nav-pills>li li>a {
    border-radius: 4px;
}
.nav>li li>a {
    position: relative;
    display: block;
    padding: 2px 5px;
    margin-top: 2px;
}
/*****/


body.development {
    background-image: url("dev.png");
}

body.test {
    background-image: url("test.png");
}

body.development .navbar-inverse {
    background-image: linear-gradient(to bottom, #660000 0px, #870a0a 100%);
    border-color: #660000;
}

body.development .navbar-inverse .navbar-nav .active a {
    background-image: linear-gradient(to bottom, #d22828 0px, #a41212 100%);
}

body.test .navbar-inverse {
    background-image: linear-gradient(to bottom, #002768 0px, #0a3783 100%);
    border-color: #002768;
}

body.test .navbar-inverse .navbar-nav .active a {
    background-image: linear-gradient(to bottom, #3773d7 0px, #1d57b7 100%);
}

body.test div#contenu-principal {
    background-color:white;
}

body.development div#contenu-principal {
    background-color:white;
}

body.development div#navbar div.collapse pre {
    position:absolute;
}

body.development div#navbar div.collapse table {
    position:absolute;
}

table {
    background-color:white;
}

/* Divers : affichage des heures */

input[type=number] {
    padding-right:1px;
}

span.heures-negatif {
    color: red;
}

span.label-danger span.heures-negatif {
    color: white;
}

span.heures span.heures-dec-00 {
    opacity: 0.3;
}


/* Services */
table.table-extra-condensed tr td {
    padding:2px;
}

table.table-extra-condensed tr th {
    padding:2px;
}

table.service, table.service-referentiel {
    margin-bottom: 0px;
}

table.service table.volume-horaire, table.service-referentiel table.volume-horaire {
    margin-bottom: 0px;
}

table.service div#vhl-prev {
    margin-bottom: 2px;
    opacity:.5;
}

table.service div#vhl-prev table {
    background-color: #EDEAD2;
}

table.service td.actions, table.service-referentiel td.actions {
    white-space: nowrap;
    text-align:center;
}

table.service tfoot td.type-intervention{
    white-space: nowrap;
}

table.service td.actions a, table.service-referentiel td.actions a {
    margin-left: 0.2em;
    margin-right:0.2em;
}

div.service-show-hide-buttons {
    padding-bottom:3px;
    padding-top:3px;
    text-align:right;
}

div.service-liste table.service tr.volume-horaire {
    background-color: #fafafa;
}

/**
 * Offre de formation
 */
span.element-rech.niveau,
span.element-rech.etape,
span.element-rech.periode,
span.element-rech.element {
    font-size: 80%;
    padding: 0 5px 0 5px;
    margin-right: 0.5em;
}
span.element-rech.etape,
span.element-rech.periode {
    /*background-color: #babdb6;*/
    /*background-color: #729fcf*/
    background-color: #caddf4;
}


/**
 * Autre
 */

.nombre {
    text-align:right;
    white-space: nowrap;
}

h1.page-header { 
    margin-top: 10px;
}


.modal-header h1,
.modal-header h2 { 
    line-height: 90%; 
}

.modal-body h1 {
    margin-top: 0;
}

/* Autocomplete jQuery */
.ui-autocomplete {
    max-height: 300px;
    overflow-y: auto;
    /* prevent horizontal scrollbar */
    overflow-x: hidden;
}
/* IE 6 doesn't support max-height, we use height instead, but this forces the menu to always be this tall */
/*html .ui-autocomplete {
    height: 300px;
}*/
.element-rech .ui-menu .ui-menu-item a {
    line-height: 1.25;
    padding: 0;
}

/* Mise en évidence des mots recherchés dans les SearchAndSelect */
span.sas-highlight {
    font-weight: bold;
}

/* Gestion des popovers */
div.popover {
    max-width:600px;
}

div.scr-center {
    position: fixed;
    width: 100%;
    height:100%;
    top:0px;
    left:0px;
    z-index:9999;
}

div.scr-center div.alert{
    margin-top:5em;
    width:60%;
    margin: none;
    margin-left: auto;
    margin-right: auto;
    max-height: 600px;
    overflow:auto;
}


form#service div#element-interne div.col-md-5 {
    clear: both;
}


form#service div.volume-horaire-saisie-multiple div {
    float:left;
    width:10em;
    height:5em;
}

form#service div.volume-horaire-saisie-multiple div input {
    width:7em;
    display:inline;
}

form#service div.volume-horaire-saisie-multiple-fin {
    clear: both;
}

td .form-group{
    margin-bottom: 0px;
}

form#modulateurs-saisie th select{
    display: inline;
    width:auto;
}



/* Personnalisation du bootstrap-select */
.bootstrap-select .dropdown-menu li.divider{
    display: none;
}

.bootstrap-select .dropdown-menu{
    font-size: 10pt;
}

.bootstrap-select .dropdown-menu li a.opt{
    margin-left: 2em;
}

.demande-mise-en-paiement .type-heures.not-allowed {
    opacity: 0.5;
}

.bootstrap-select button.selectpicker {
    font-size: 10pt;
    padding-left: 0px;
}

.bootstrap-select button.selectpicker span.pull-left{
    padding-left: 10px;
}




/* Possibilité de changer l'année depuis la barre de menu du haut */
.navbar-brand h1 span {
    font-size:12pt;
}

#navbar .container .navbar-header {

    vertical-align: middle;
    min-width: 175px;
}

#navbar .container .navbar-header select {
    margin-top: 12px;
    height:26px;
}

.navbar-nav li a {
    padding-left: 7px;
    padding-right: 7px;
}



ul.privileges-form {
    list-style-type: none;   
}

ul.privileges-form li {
    margin-top:0.5em;
    margin-bottom:0.5em;
}

ul.privileges-form li label {
    margin-left:0.5em;
}



.table-header-rotated th.row-header{
  width: auto;
}

.table-header-rotated td{
  width: 40px;
  vertical-align: middle;
  text-align: center;
}

.table-header-rotated th.rotate-45{
  border: none;
  height: 200px;
  width: 40px;
  min-width: 40px;
  max-width: 40px;
  position: relative;
  vertical-align: bottom;
  padding: 0;
  line-height: 1;
  white-space: nowrap;
}

.table-header-rotated th.rotate-45 > div{
  position: relative;
  top: 0px;
  left: 83px;
  height: 100%;
  transform:skew(-40deg,0deg);
  overflow: hidden;
  border-right: 1px solid #ddd;
}

.table-header-rotated th.rotate-45 > div.first{
  border-left: 1px solid #ddd;
}

.table-header-rotated th.rotate-45 span {
  transform:skew(40deg,0deg) rotate(310deg);
  position: absolute;
  bottom: 40px;
  left: -30px;
  display: inline-block;
  width: 100px;
  text-align: left;
}

.table-header-rotated .separator {
    border: none;
}

.droits-tbl th.privilege {
    min-width: 200px;
    max-width: 200px;
    width:200px;
}

.droits-tbl td a.refuse {
    opacity: 0.5;   
}


.bg-historique {
    background-color: #d9534f;
    color:white;
}