
.engagement .ha {
    border-collapse: collapse;
    border:1px gray solid;
    text-align: right;
}

.engagement .label {
    color:#ccc;
}

.engagement .ha.ha2 {
    border-left:none;
}
.engagement .ha.ha3 {
    border-top:none
}

.engagement td.dotation {
    padding: .2em;
}

.engagement td.dotation {
    padding: .2em;
}

.engagement td.hetd {
    text-align: right;
}

.engagement td.action {
    text-align: center;
    vertical-align: middle;
}

.engagement .liquidation {
    clear: both;
}


.engagement .liquidation h2 {
    text-align: center;
}

.engagement .liquidation table {
    width: auto;
    margin:auto;
}


table.budget-tbl {
    width:auto;
    margin: auto;
}

table.budget-tbl th {
    width:12em;
}

table.budget-tbl td.hetd {
    text-align: right;
}

table.budget-tbl .label {
    color: #ccc;
}

.budget-export {
    margin-top: .5em;
    text-align:center;
}