.indicateurs table td.numero {
  width: 5em;
  text-align: center;
}

.indicateurs table th.numero {
  width: 5em;
  text-align: center;
}

.indicateurs .notification {
  width: 12em;
}

.indicateurs .page-accueil {
  width: 2em;
  text-align: center;
}

.indicateurs-result {
  margin-bottom: 1em;
}

.indicateurs-result table {
  margin-bottom: 0px;
}

.indicateurs-result table .cc {
  width: 2em;
}