/**
 * Offre de formation
 */
span.element-rech.niveau,
span.element-rech.etape,
span.element-rech.periode,
span.element-rech.element {
  font-size: 80%;
  padding: 0 5px 0 5px;
  margin-right: 0.5em;
}

span.element-rech.etape,
span.element-rech.periode {
  /*background-color: #babdb6;*/
  /*background-color: #729fcf*/
  background-color: #caddf4;
}

.etape-centre-cout {
  margin-top: 2px;
}

.etape-taux-mixite {
  margin-top: 2px;
}

.etape-modulateurs {
  margin-top: 2px;
}

.etape-modulateurs th.element-pedagogique, .etape-modulateurs td.element-pedagogique {
  width: 50%;
}

form#modulateurs-saisie th select {
  display: inline;
  width: auto;
}