.demande-mise-en-paiement .type-heures.not-allowed {
    opacity: 0.5;
}

table.dmep-budget {

    width: auto;
    margin: auto;

    margin-bottom: 1em;

}

table.dmep-budget .enveloppe{

    width: 15em;
    height:2.1em;
    margin-bottom: 0px;
    text-align:center;
    box-shadow: 1px 1px 3px gray;
}

table.dmep-budget .enveloppe .progressbar{
    height:2.1em;
    padding-top:.3em;
    white-space: nowrap;
    transition: width .5s ease-in-out;

}

table.dmep-budget .enveloppe .progressbar span{
    padding-left: .4em;
    text-shadow: 1px 1px 3px white, -1px -1px 3px white;
}

table.dmep-budget .enveloppe .progressbar .restant{
    font-size: 110%;
}

table.dmep-budget .enveloppe .progressbar .label{

    color:black;
    font-weight: 100;

}

table.dmep-budget .enveloppe .progressbar .deficit{
    color:red;
}



table.dmep-budget .aucune-dotation {
    color:gray;
    text-align: center;
}


.depassement-budget {
    display: none;
}

.depassement-budget .alert {
    min-height:8em;
}

.depassement-budget .glyphicon {
    float: right;
    font-size: 40pt;
}

.depassement-budget h1 {
    margin-top: 0px;
    font-size: 150%;
}



