
table {
  background-color: white;
}

table.table-extra-condensed tr td {
  padding: 2px;
}

table.table-extra-condensed tr th {
  padding: 2px;
}

thead {
  font-weight: bold;
}




/* Tableaux avec entêtes à 45° */

.table-header-rotated {
  border-top: none;
  border-left: none;
  border-right: none;
  border-color: $border-bottom-color;
}

.table-header-rotated thead th:first-child {
  /*    border-bottom: none; */
}

.table-header-rotated th.row-header {
  width: auto;
}

.table-header-rotated td {
  width: 40px;
  vertical-align: middle;
  text-align: center;
}

.table-header-rotated th.rotate-45 {
  border: none;
  height: 200px;
  width: 40px;
  min-width: 40px;
  max-width: 40px;
  position: relative;
  vertical-align: bottom;
  padding: 0;
  line-height: 1;
  white-space: nowrap;
}

.table-header-rotated th.rotate-45 > div {
  position: relative;
  top: 0px;
  left: 83px;
  height: 100%;
  transform: skew(-40deg, 0deg);
  overflow: hidden;
  border-right: 1px solid #ddd;
}

.table-header-rotated th.rotate-45.first > div {
  border-left: 1px solid #ddd;
}

.table-header-rotated thead tr th div {
  background-color: white;
  border-top: 1px solid #ddd;
}

.table-header-rotated th.rotate-45 span {
  transform: skew(40deg, 0deg) rotate(310deg);
  position: absolute;
  bottom: 40px;
  left: -30px;
  display: inline-block;
  width: 100px;
  text-align: left;
}


.table-header-rotated .separator {
  border: none;
}


.table-header-rotated .categorie {
  border: none;
}


.table-header-rotated thead .menu {
  border: none;
  vertical-align: top;
  padding-left: 2em;
  padding-top: 2em;
}

