<?php

return [
 'siham'           => [

        // Options concernant l'appel du web service DepotTEF de l'ABES.
        'api'         => [
            'credentials' => [
                'username' => 'your_username',
                'password' => 'your_password',
            ],
            'ws'          => [
                'DossierAgent'   => 'https://.../DossierAgentWebService/DossierAgentWebService',
                'RechercheAgent' => 'https://.../RechercheAgentWebService/RechercheAgentWebService',
            ],
        ],
        // Options du client SOAP utilisé pour appeler le web service.
        'soap_client' => [
            // Autres options du client SOAP :
            'soap' => [
                'version'    => SOAP_1_1,
                'cache_wsdl' => 0,
                //'proxy_host' => 'host.domain.fr',
                //'proxy_port' => 3128,
            ],
        ],
    ],
]